html {
    box-sizing: border-box;
    background-color: darkseagreen;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;

    min-height: 402px;
    min-width: 222px;
    gap: 10px;
    padding: 15px;
    background-color: silver;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    gap: 3px;
}

button {
    text-align: center;
    border-radius: 10px;
    font-size: 2.5em;
    height: 1.5em;
    padding: 0 10px 0 10px;
    border: none;
    box-shadow: 0 0 3px;
}

.number {
    background-color: rgb(245, 245, 245);
}

.number:active {
    background-color: rgb(205, 205, 205);
}

.operator {
    background-color: rgb(247, 247, 55);
}

.operator:active {
    background-color: rgb(200, 200, 0);
}

.equals {
    background-color: rgb(245, 245, 245);
}

.equals:active {
    background-color: rgba(245, 245, 245, 0.75);
}

.func {
    background-color: rgb(245, 176, 48);
    font-size: 1.5em;
    height: 2.5em;
}

.func:active {
    background-color: rgb(206, 147, 38);
}

.number.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.display-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    padding: 0 5px 0 0;
    font-size: 3em;
    background-color: darkgrey;
    box-shadow: inset 0 0 5px;
    border-radius: 7px;
    height: 80px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.history {
    display: flex;
    height: 1em;
    font-size: 0.5em;
    padding-left: 10px;
}

.solar {
    display: flex;
    justify-content: stretch;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(196, 128, 2);
    font-size: large;
    align-items: center;
    gap: 10px;
}

.text {
    display: flex;
    flex: 1;
    gap: 30px;
    align-items: center;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(32, 33, 39);
    width: 100px;
    height: 30px;
    box-shadow: inset 0 0 7px black;
    border-radius: 4px;
    justify-self: flex-end;
    flex: 1;
}

.panel-section {
    border-left: 1px solid silver;
}

.brand {
    color: black;
    font-size: larger;
}