html {
    box-sizing: border-box;
    background-color: darkseagreen;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    max-height: 55vh;
    min-width: 222px;
    gap: 10px;
    padding: 15px;
    background-color: silver;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    gap: 3px;
}

button {
    text-align: center;
    border-radius: 10px;
    font-size: 2.5em;
    height: 1.5em;
    padding: 0 10px 0 10px;
    border: none;
    box-shadow: 0 0 2px;
}

.number {
    background-color: whitesmoke;
}

.operator {
    background-color: yellow;
}

.func {
    background-color: orange;
    font-size: 1.5em;
    height: 2.5em;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.display-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    padding: 0 5px 0 0;
    font-size: 3em;
    background-color: darkgray;
    box-shadow: inset 0 0 3px;
    border-radius: 5px;
    height: 70px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.history{
    display: flex;
    height: 1em;
    font-size: 1em;
}
